@using BlazorApp.Data; 

<p>
    Users: <b>@Users.Count()</b>
</p>

<br />

<ul class="list-group">
    @foreach (UserData user in Users)
    {
        <li @key="user" class="list-group-item">
            <button type="button" class="btn btn-link" @onclick="(() => KickUser(user))">[Kick]</button>
            <label>@user.Name</label>
        </li>
    }
</ul>

@code {
    [Parameter]
    public List<UserData> Users { get; set; }

    [Parameter]
    public EventCallback CallbackTest{ get; set; }

    protected override void OnInitialized()
    {
        Users.Add(new UserData() { Name = "Chovy" });
        Users.Add(new UserData() { Name = "Peanut" });
        Users.Add(new UserData() { Name = "Doran" });
    }

    public void KickUser(UserData user)
    {
        Users.Remove(user);

        CallbackTest.InvokeAsync(null);
    }

    public void AddUser(UserData user)
    {
        Users.Add(user);
    }

}
